// Carrega DM Sans especificamente pro widget
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'widget/assets/scss/reset';
@import 'shared/assets/fonts/widget_fonts';
@import 'dashboard/assets/scss/next-colors';

html,
body {
  font-family: "DM Sans";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

.woot-survey-wrap {
  height: 100%;
}
